{{template "partials/support-files" .}}

<section class="auth bg-base flex-wrap">  

<div class="card">
 
  <div class="card-body py-80">
    <div class="row justify-content-center" id="invoice">
      <div class="col-lg-4"><div class="col-xxl-12 col-sm-12">
        <div class="pricing-plan featured-item position-relative radius-24 overflow-hidden border bg-success-600 text-white z-1">
            <img  alt="" class="position-absolute end-0 top-10 z-n1">
            <span class="bg-white bg-opacity-25 text-white radius-24 py-8 px-24 text-sm position-absolute end-0 top-0 z-1 rounded-start-top-0 rounded-end-bottom-0">Amount Paid</span>
            <div class="d-flex align-items-center gap-16">
                <span class="w-72-px h-72-px d-flex justify-content-center align-items-center radius-16 bg-base">
                    <img src="/assets/images/auth/success.png" alt="success">
                </span>
                <div class="">
                    <span class="fw-medium text-md text-white">Crypto Transfer</span>
                    <h6 class="mb-0 text-white text-uppercase">{{.TransData.Receivedcurrency}}</h6>
                </div>
            </div>
            <p class="mt-16 mb-0 text-white mb-28">Paid Successfully </p>
            <h6 class="mb-24 text-white text-center">{{.TransData.Requestedamount}} <span class="fw-medium text-white text-uppercase">{{.TransData.Requestedcurrency}} -> {{.TransData.Convertedamount}} <span class="fw-medium text-white text-uppercase">{{.TransData.Convertedcurrency}}</span> </h6>
            <div class="mb-24 text-white text-center">
              <button type="button" class="btn rounded-pill btn-success-100 text-success-600 radius-8 px-20 py-24"><span class=" text-uppercase"> Received Amount {{.TransData.Receivedamount}} {{.TransData.Receivedcurrency}}</span></button>
            </div>
            <ul>
                <!-- <li class="d-flex align-items-center gap-16 mb-16">
                    <span class="text-white text-sm"><strong> Hash : </strong>{{.TransData.Response_hash}}</span>
                </li> -->
                <li class="d-flex align-items-center gap-16 mb-16">
                    <span class="text-white text-sm"><strong> TransactionID : </strong>
                      <br>{{.TransID}}</span>
                </li>
                <li class="d-flex align-items-center gap-16 mb-16">
                  <span class="text-white text-sm text-break"><strong> Wallet : </strong>
                    <br>{{.TransData.Destinationaddress}}</span>
              </li>
               
            </ul>
            <div class=" px-12 pb-10 text-center">Powered by <img src="/views/images/Logo_dark.png" alt="Logo" class="img-fluid img" style="max-height: 20px;"></div>
            
        </div>
    </div></div>


    </div>
  </div>
</div>
</section>


